<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: header('City List')">
</head>
<body>
<div class="container">
    <div class="row">
        <h3 class="col-8" >Danh sách thành phố</h3>
        <form action="/create" method="get" class="col-4 float-right">
            <button type="submit" class="btn border">Thêm thành phố</button>
        </form>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Thành Phố</th>
            <th scope="col">Quốc gia</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="city:${list}">
            <th scope="row" th:text="${city.id}" ></th>
            <td th:text="${city.nation}"></td>
            <td th:text="${city.name}" th:href="/${city.id}"></td>
            <td><a th:href="edit/${city.id}">Chỉnh sửa</a>|<a th:href="delete/${city.id}">Xóa</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>