<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: header(${city.name==null?'Thêm Thành phố':('Chỉnh sửa thành phố '+city.name)})">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/save" method="post" th:object="${city}">
    <div class="container">
        <h3 class="col-8" th:text="${city.name==null?'Thêm Thành phố':('Chỉnh sửa thành phố '+city.name)}"></h3>
        <input name="id" th:field="*{id}" th:type="hidden">
        <table class="table">
            <tr>
                <td>Tên:</td>
                <td><input th:field="*{name}" type="text"/></td>
                <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
            </tr>
            <tr>
                <td>Quốc gia:</td>
                <td>
                    <select aria-label="Default select example" class="form-select" th:field="*{nation}">
                        <option selected value="0">Select</option>
                        <th:block th:each="nation:${nations}">
                            <option th:text="${nation.name}" th:value="${nation.id}"></option>
                        </th:block>
                    </select>
                </td>
                <td th:if="${#fields.hasErrors('nation')}" th:errors="*{nation}">Nation Error</td>
            </tr>
            <tr>
                <td>Diện tích:</td>
                <td><input th:field="*{size}" type="number"/></td>
                <td th:if="${#fields.hasErrors('size')}" th:errors="*{size}">Size Error</td>
            </tr>
            <tr>
                <td>Dân số:</td>
                <td><input th:field="*{population}" type="number"/></td>
                <td th:if="${#fields.hasErrors('population')}" th:errors="*{population}">Population Error</td>
            </tr>
            <tr>
                <td>GDP:</td>
                <td><input th:field="*{GDP}" type="number"/></td>
                <td th:if="${#fields.hasErrors('GDP')}" th:errors="*{GDP}">GDP Error</td>
            </tr>
            <tr>
                <td>Giới thiệu:</td>
                <td><textarea th:field="*{description}"></textarea></td>
                <td th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description Error</td>
            </tr>
        </table>
        <div class="row justify-content-center text-center">
            <div class="col">
                <input type="submit" th:value="${city.name==null?'Nhập thành phố':('Cập nhật')}">
                <input type="submit" formaction="/" formmethod="get" value="Thoát">
            </div>
        </div>
    </div>
</form>

</body>
</html>